
body {                             
	background-image: url(Image/prism.png);

}

.plateau{
	position: absolute;
}

.pions_morts{
	background-color:darkgrey;
	position: absolute;
}

#QI_blanc{
	color: white;
	position: absolute;
}

#QI_noir{
	color: rgb(37, 150, 190);
	position: absolute;
}